@model privacyweb.Model.Empty

@{
    ViewData["Title"] = "Error";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Error</h1>

<div>

    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>*@
    <div>
           @Html.DisplayFor(model => model.Text)
    </div>
</div>

